<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-content">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>
    
    <div class="footer">
      <div class="beian-link">
        <a href="http://www.miitbeian.gov.cn/">粤ICP备18046099号</a>
      </div>
    </div>
  </body>
</html>
