/blogAngular/src
/blogAngular/package-lock.json
/blogAngular/tsconfig.json
/blogAngular/dist
/blogAngular/dist/*
/blogAngular/logs
/blogAngular/logs/*
/blogAngular/node_modules
/blogAngular/node_modules/*
/helloAngular/node_modules
/helloAngular/node_modules/*
/helloAngular/package-lock.json
nbproject/
nbproject/*
template/
template/*
