<div class="app-navbar app-navbar-shadow">
    <div class="navbar-header">
        <a mat-button class="navLink_a" routerLink="/">
            <img alt="飞扬的青春" class="navbar-logo" src="/assets/img/homepage/angular-white-transparent.svg">
            飞扬的青春
        </a>
        <a mat-button class="navLink_a">Article</a>
        <a mat-button class="navLink_a">About US</a>
        <div class="parit-right">
            <a mat-button class="navLink_a" (click)="openUserDialog()" ngShow="!login">登录</a>
            <a mat-button class="navLink_a" (click)="closeUserDialog()" ngShow="login">退出登录</a>
        </div>
    </div>
</div>